*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
   


 
    
}
.incontainer{
    /* width: 1200px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 5rem;
    /* background-color: #941660; */
    background-color: #2F0334;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232f0334'/%3E%3Cstop offset='1' stop-color='%232f0334' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234f224b'/%3E%3Cstop offset='1' stop-color='%234f224b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234f224b'/%3E%3Cstop offset='1' stop-color='%234f224b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232F0334'/%3E%3Cstop offset='1' stop-color='%232F0334' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232F0334'/%3E%3Cstop offset='1' stop-color='%232F0334' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23704264'/%3E%3Cstop offset='1' stop-color='%23704264' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  
}
.div-button-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2222;
    /* border: 2px solid black; */
box-shadow: 2px 2px 3px 1px  rgb(50, 41, 41);


    max-width: 350px;
    border-radius: 35px;
    height: 40px;
color: rgb(162, 170, 177);
margin: 2em 0;

}
.div-button-add span, .div-button-add button {
font-weight: bold;
padding: .7em 1em;
border-radius: 35px;
}
.div-button-add button{
    background-color: #640d6b;
    height: 100%;
    border: none ;
    /* width: 30%; */
    text-align: start;
padding: .7em .7em;
cursor: pointer;
    

}
.div-button-add button:active{
    transition: .4s ;
    background-color: #3f1243;
}
form{
    max-width: 350px;
    padding:1em 2em ;
 


    background-color: #E2DFD0;
    /* background-color: #F97300; */
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23341222'/%3E%3Cstop offset='1' stop-color='%23341222' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232f0334'/%3E%3Cstop offset='1' stop-color='%232f0334' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23341222'/%3E%3Cstop offset='1' stop-color='%23341222' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232F0334'/%3E%3Cstop offset='1' stop-color='%232F0334' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23292222'/%3E%3Cstop offset='1' stop-color='%23292222' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232F0334'/%3E%3Cstop offset='1' stop-color='%232F0334' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;



}

fieldset{
    margin: 1.3rem 0  0;
    padding: 2rem;
    border: 3px solid black;
    font-weight: bold;
border-radius: .5rem;
/* background-color: #7b687c; */

}
legend,form button{
    border-radius: .5rem;
    padding: .3em 1em;
color: rgb(162, 170, 177);
font-weight: bold;
    background-color: #2c2222;
box-shadow: 2px 2px 3px 1px  rgb(50, 41, 41);
}
.emptTask{
    margin-top: .3em;
/* color: rgb(162, 170, 177); */

}

input[type='radio']{
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    border-radius: 50%;
    border: 0.25em solid #000;

}
input[type='radio']:checked{
background-color: #640d6b;
border-color: white;
box-shadow: 0 0 0 2px black;
}
form button{
    width: 100%;
line-height: 2.3;
    margin: .7em 0 2rem 0 ;
    border-radius: 35px;
cursor: pointer;

}

ul li{
    list-style: none;
    margin-bottom: 6px ; 
}
label{
    display: flex;
        flex-direction: column;
    cursor: pointer;
    line-height: 1.6;
    /* margin: 1em 0; */
    /* background-color: #000; */
}
input[type="text"]{
    /* margin-top: 0px; */
    border-radius:15px ;
    line-height: 2;
    padding: 0 .5em;
}
.lebalStatus{
margin-top: 2em; 

}
label ul#ul-status li label{
    align-items: center;
    flex-direction: row;
padding:0 1em;
    /* justify-content: start; */
    /* background-color: aqua; */
    gap: 7px;

}


.table-div{
    max-width:95%;
    /* background-color: #000; */
    margin-top: 5em;


}
table{
    /* border:1px solid; */
    text-align: center;
    font-weight: bold;
border-collapse: collapse;
margin-top: 3em;
width: 100%;
line-height: 2.6;


}
table thead{
box-shadow: 2px 2px 3px 1px  rgb(50, 41, 41);
background-color: rgb(139, 148, 148);
    
}
th{
    padding: 0 1em;
    /* overflow: hidden; */
    /* display: inline-flex; */
    /* margin: 0 1em; */

    /* width: auto; */
}
td{
    width: 15%;
}
.action{
    /* border-left:2px solid #000; */
    /* padding-left:1px; */
}
.action i{
    /* background-color: red; */
    gap: 102px;
    margin: 0 .3em;
}
tr{
    border-bottom:2px solid #292222;
    /* padding: 0 1em; */

}
.doneTask{
    /* border-left:5px solid green ; */

background-color: #E2DFD0;
/* background-color: #F97300; */

background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23341222'/%3E%3Cstop offset='1' stop-color='%23341222' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232f0334'/%3E%3Cstop offset='1' stop-color='%232f0334' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23341222'/%3E%3Cstop offset='1' stop-color='%23341222' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232F0334'/%3E%3Cstop offset='1' stop-color='%232F0334' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23292222'/%3E%3Cstop offset='1' stop-color='%23292222' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232F0334'/%3E%3Cstop offset='1' stop-color='%232F0334' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;


.fa-solid{
cursor: pointer;

}

}
.descriptionTask{
    /* position: relative; */
    /* display: flex; */
}
#editTask{
    /* position: absolute; */
    /* right: 1px; */
    /* bottom:  1px; */
    display: none;
    margin: 5px;
    /* visibility: hidden; */
    /* justify-self: end; */
}
#div-search label {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f7cece;
  width: 100%;
  border-radius:35px ;
  padding: 0 1em;
  height: 30px;
  /* flex-shrink: 2; */

}
#div-search label input{
    padding: 0 1em;
  background-color: #f7cece;
    border: none;
  flex-grow: 1;
  height: inherit;

}
#div-search label input{
    /* border: none; */
    outline: none;
}
#div-search label i{
    padding: 0 1em;


}
#select-filter{
    outline: none;
    border: none;
  background-color: #f7cece;
  font-weight: bold;
    
}
@media (max-width:350px){
.container{
    width: 100%;

} 
.incontainer{
margin-left: 5em;
padding: 5em 3em;
/* background-color: #000; */
width: 100wh;
display: flex;
justify-content: center;
align-items: center;
}
}